In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.5.3
1.25.2

In [5]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  18  19  16  14   5
1  12   1  18  18  10
2  16   1   8   6   2
3  15  18  19  11  19
4   9  19   7   1   8

In [7]:
df.query('A > 10')

    A   B   C   D   E
0  18  19  16  14   5
1  12   1  18  18  10
2  16   1   8   6   2
3  15  18  19  11  19

In [8]:
rerata = df['A'].mean()
rerata

14.0

In [9]:
df.query('A > @rerata')

    A   B   C   D   E
0  18  19  16  14   5
2  16   1   8   6   2
3  15  18  19  11  19