In [4]:
import pandas as pd
import numpy as np

n_rows = 365
n_cols = 2
cols = ['col1', 'col2']

In [7]:
df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

date_index = pd.date_range(start='2023-01-01', periods=n_rows, freq='D')
df.index = date_index

print(df)

            col1  col2
2023-01-01    16     9
2023-01-02    18    18
2023-01-03     5     6
2023-01-04    17     1
2023-01-05    16     1
...          ...   ...
2023-12-27    12    12
2023-12-28    15    14
2023-12-29    10     1
2023-12-30     7     8
2023-12-31    17     8

[365 rows x 2 columns]

In [8]:
weekdays_df = df[df.index.dayofweek.isin([0, 1, 2, 3, 4])]
weekdays_df.head(7)

            col1  col2
2023-01-02    18    18
2023-01-03     5     6
2023-01-04    17     1
2023-01-05    16     1
2023-01-06     2    19
2023-01-09    14    13
2023-01-10    12     4

In [9]:
weekends_df = df[df.index.dayofweek.isin([5, 6])]
weekends_df.head(7)

            col1  col2
2023-01-01    16     9
2023-01-07     6    11
2023-01-08    13    18
2023-01-14    19     1
2023-01-15    19    18
2023-01-21    10    11
2023-01-22     9    16